html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 160%;
    color: #2E2E2E;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 160%;
    text-transform: uppercase;
    color: #1B1B1B;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #000000;
}

.uppercase {
    text-transform: uppercase;
}

.wBold {
    font-weight: 700;
}

.ta-c {
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: #363D33;
    font-size: 20px;
    color: aliceblue;
}

.header__inner {
    margin-top: 60px;
    position: absolute;
    width: 70vw;
    z-index: 1;
}

.menu-list {
    display: flex;
    gap: 43px;
}

.header__social {
    display: flex;
    gap: 30px;
}

.cart__content {
    position: absolute;
    right: 0;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 590px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart-content__list {
    max-height: 385px;
}

.cart-content__product {
    display: flex;
    align-items: center;
    padding: 12px 20px;
}

.cart-content__product:hover {
    background-color: #f9fff7;
}

.cart-product__img {
    max-width: 175px;
    object-fit: cover;
}

.cart-product__title {
    margin-bottom: 10px;
}

.cart-product__price {
    font-size: 24px;
    font-weight: 400;
    color: #40443F;
}

.cart-product__delete {
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    background-image: url('/asset/img/delete.png');
    background-repeat: no-repeat;
    margin-left: auto;
}

.cart-content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1B1B1B;
    margin: 0 20px;
}

.cart-content__fullprice {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.fullprice {
    font-weight: 500;
    font-size: 32px;
    line-height: 160%;
    color: #000000;
}

.cart-content__btn {
    width: 300px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.cart.active:hover .cart__content {
    opacity: 1;
    visibility: visible;
}


/*Slider*/

.promo__slider {
    max-width: 100vw;
    position: relative;
    margin: 0;
}

.carousel {
    padding: 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel-one {
    background-image: url('/asset/img/1.png')
}

.carousel-two {
    background-image: url('/asset/img/2.png')
}

.carousel-three {
    background-image: url('/asset/img/3.png')
}

.carousel__info {
    margin-top: 30vh;
    gap: 30px;
}

.carousel__text {
    max-width: 580px;
}

.carousel__height {
    color: #416D07;
    font-weight: 500;
}

/*Banner*/

.plants__info {
    padding: 70px 0;
}

.plants__banner {
    height: 419px;
    background: #BECDAA;
    border-radius: 10px;
    background: url('/asset/img/4.png') no-repeat left #BECDAA;
}

.plants__banner-text {
    max-width: 520px;
    margin-top: 160px;
}

/*Advantages*/

.plants__advantages {
    margin-top: 170px;
}

.advantages__one,
.advantages__two {
    text-align: center;
    justify-content: space-around;
}

.advantages__one h3 {
    max-width: 400px;
}

.advantages__two h3 {
    max-width: 300px;
}

.advantages__one p,
.advantages__two p {
    max-width: 460px;
}

.line {
    width: 1px;
    height: 323px;
    border: 1px solid #000000;
}

/*Catalog*/

.catalog {
    padding: 120px 0;
}

.catalog__cards,
.catologPage__list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}


.card__like,
.card__base {
    width: 45px;
    height: 40px;
}

.card {
    padding: 22px;
    position: relative;
    max-width: 400px;
    margin: 20px 0;
}

.card__like {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
}

.card__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
}

.card__button {
    margin-top: 100px;
}

/*Delivery*/

.delivery {
    padding: 80px 0;
}

.delivery__inner {
    border: 1px solid #000000;
    border-radius: 10px;
}

.delivery__text {
    text-align: center;
    margin-top: 100px;
}

.delivery__item {
    margin-top: 50px;
}

.delivery__item p {
    margin-top: 10px;
}

.delivery__img {
    padding: 0;
}

/*Footer*/

.footer__inner {
    border-top: 1px solid #000000;
    padding: 70px 0;
}

.footer__item {
    font-weight: 500;
}

.footer__item,
.footer__list {
    margin-top: 25px;
}

.footer__list {
    justify-content: space-between;
    align-items: center;
}

/*Catalog page*/

.header__catalog {
    position: unset;
    margin-bottom: 100px;
}

.catologPage__info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px #416D07;
    padding: 50px 75px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.catologPage__info.active {
    opacity: 1;
    visibility: visible;
}

.catologPage__info.active:hover {
    opacity: 1;
}

.info-title {
    font-size: 32px;
}

.info-text {
    gap: 30px;
}

.card-info-inner {
    gap: 122px;
    margin-bottom: 30px;
}

.info-price {
    font-weight: 500;
    font-size: 32px;
    line-height: 160%;
}

.characteristic {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #416D07;
}

.text-normal {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}


.info-text p {
    margin-bottom: 20px;
}


@media (max-width: 1250px) {

    .delivery__text {
        margin-bottom: 100px;
    }

    .header__inner {
        width: 90vw;
    }
}

@media (max-width: 1200px) {

    .plants__banner-text {
        margin-top: 100px;
        margin-left: 550px;
    }

     .cart-product__delete {
        position: absolute;
        top: 0;
        right: 0;
    }

     .cart-product__delete {
        margin-top: 49px;
        margin-right: 55px;
    }
}


@media (max-width: 990px) {

    .header__inner {
        gap: 30px;
    }

    .plants__banner {
        background-image: none;
    }

    .plants__banner-text {
        margin-top: 134px;
        margin-left: 96px;
    }

    .card-info-inner {
        flex-direction: column;
    }

    .card-info-inner img {
        max-width: 50%;
    }

}

@media (max-width: 780px) {

    .plants__advantages {
        flex-direction: column;
        gap: 30px;
    }

    .line {
        display: none;
    }

    .catalog__inner {
        text-align: center;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .footer__inner {
        gap: 30px;
    }

   
}

@media (max-width: 400px) {
    .cart__content {
        width: 380px;
    }

    .cart-content__bottom {
        flex-direction: column;
    }

    .catalogPage__title {
        text-align: center;
    }
}